ansys-mapdl-reader
dill==0.4.0
gmsh==4.14.0
h5py==3.14.0
matplotlib==3.10.6
#neml2==2.0.0
netCDF4==1.7.2
numba==0.62.0
numpy==2.3.3
pandas==2.3.2
Pillow==11.3.0
pymoo==0.6.1.5
pytest==7.4.3
pyvale==2025.8.1
pyvista==0.46.3
PyYAML==6.0.1
PyYAML==6.0.2
pyzag==1.1.1
scipy==1.16.2
threadpoolctl==3.6.0
torch==2.7.0
